* {
  margin: 0;
  padding: 10;
  box-sizing: border-box;
}

.webName {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  margin-left: 5px;
}
header {
  width: 100%;
  height: 60vh;
  background: rgba(0, 0, 0, 0.7)
    url("./Homework1_Images/music-player-2951399.jpg");
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  margin-bottom: 150px;
  color: whitesmoke;
  text-align: center;
}

.header h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  text-transform: uppercase;
}
.header h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  color: rgb(196, 196, 196);
}

.nav {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 19px;
  position: absolute;
  top: -10px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.4);
}

.nav_link {
  display: flex;
  align-items: center;
}

.nav_link li {
  margin: 0 30px;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
}

.sub_sec {
  width: 90%;
  margin-top: 90px;
  margin-left: 5%;
  margin-right: 5%;
}

.sub-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  column-gap: 5em;
  row-gap: 3em;
}

.sub-container .sub-adver1 {
  text-align: left;
  width: 600px;
  margin-bottom: 20px;
  flex-direction: column;
  align-items: center;
  letter-spacing: 2px;
  line-height: 1.5;
}

.sub-container .sub-adver2 {
  /* border: 2px black;
  border-style: dashed; */
  border-radius: 40px;
  text-align: left;
  height: 320px;
  width: 450px;
  background-color: #0ad6dd4d;
  line-height: 1.5;
}

#sub-button {
  margin-top: 10px;
  background-color: #4897b6;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.4s;
}

#sub-button:hover {
  background-color: white;
  border: black 2px solid;
  color: black;
}

#Home a {
  font-size: 170%;
}

#sub a {
  font-size: 170%;
}

.header #classHomework {
  font-size: 150%;
  color: red;
  width: 700px;
}

.button {
  display: flex;
  justify-content: center;
}

.review {
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0),
    rgba(6, 200, 202, 255)
  );
  margin-top: 100px;
  padding-bottom: 100px;
  height: 60%;
}

.reviewer p {
  line-height: 1.5;
}

.contain {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 195px;
}

.contain .reviewer {
  margin-top: 120px;
  font-size: 46px;
}

.contain .iframe {
  margin-top: 120px;
}

.iframe iframe {
  width: 700px;
  height: 500px;
}

.review p {
  height: 100px;
  width: 700px;
}

.reviewer #paragraph {
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50%;
}

@media only screen and (max-width: 768px) {
  header {
    height: 80vh;
  }

  .sub_sec .sub-adver2 {
    font-size: 8px;
  }

  .nav_link {
    column-gap: -10px;
  }

  .webName {
    font-size: 25px;
  }

  .header {
    margin-top: 15vh;
  }

  .nav_link {
    margin-right: 20px;
    margin-top: 17px;
    margin-left: -17px;
  }

  #Home a {
    font-size: 100%;
  }

  #sub a {
    font-size: 100%;
  }

  .header h2 {
    font-size: 50px;
  }

  .header h3 {
    font-size: 15px;
  }

  .review {
    margin-top: 20px;
    height: 1110px;
  }

  .iframe iframe {
    margin-top: 0;
    margin-left: 0;

    width: 300px;
  }

  .review .reviewer {
    margin-top: 25px;
  }

  .reviewer h1 {
    font-size: 40px;
  }

  .reviewer p {
    font-size: 20px;
  }

  .header #classHomework {
    font-size: 90%;
    color: red;
    width: 350px;
  }

  .reviewer #paragraph {
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30%;
    width: 280px;
    margin-top: -50px;
  }

  .reviewer {
    height: 0;
    width: 280px;
  }
}
