* {
  margin: 0;
  padding: 10;
  box-sizing: border-box;
}

.webName {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  width: 100vw;
  height: 80vh;
  background: rgba(0, 0, 0, 0.7) url("./music-player-2951399.jpg");
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  margin-bottom: 150px;
  color: whitesmoke;
  text-align: center;
}

.header h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
}
.header h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
}

.nav {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 19px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  color: whitesmoke;
}
.nav_link {
  display: flex;
  align-items: center;
}

.nav_link li {
  margin: 0 30px;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
}

section {
  width: 85%;
  margin-top: 10px;
  margin-left: 10%;
}

.sub-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color:aqua;
  column-gap: 10%;
}

.sub-container .sub-adver1{
  text-align: left;
  width: 400px;
}

.sub-container .sub-adver2{
  border: 5px black;
  border-style: dashed;
  text-align: center;
  height: 300px;
  margin-left: 60px;
  margin-right: 60px;
}